.leadership-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: wrap;
    flex-wrap: wrap;
    margin: 0 50px 25px 50px;
  }
  
  .leadership-box {
    height: 40em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 25px 25px 0px 25px;
    flex-wrap: wrap;
  }
  
  /* Main container */
  .leadership-img {
    position: relative;
    left: 0;
    margin: auto;
    height: 75%;
    width: 75;
    border: 1px solid black;
   }
   /* Original image */
   .leadership-img .image {
    display: block;
    margin: auto;
    left: 0;
    height: 100%;
    border: 1px solid black;
   }
   
   /* Original text overlay */
   .leadership-img .text {
    color: #fff;
    font-size: 14px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
   }
   
  /********* Overlay on hover *******/
  /* New overlay on hover */
  .leadership-img .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
   }
   /* New overlay appearance on hover */
   .leadership-img:hover .hover {
    opacity: 1;
   }
  
  /********* Background and text only overlay on hover *******/
   .leadership-img .hover {
    background-color: rgba(0,0,0,0.7);
   }
  
  .leadership-box img {
    margin: auto;
    left: 0;
    height: 75%;
    border: 1px solid black;
  }
  
  .leadership-name {
    font-size: 28px;
    margin-top: 5px;
    bottom: 10%;
    color: grey;
  }
  
  .leadership-title {
    font-size: 16px;
    margin: auto;
    bottom: 5%;
    color: #BF1313;
  }