/** Schedule */
#schedules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#schedule h2 {
    text-align: center;
    color: gray;
    font-weight: 500;
}

#schedule td {
    padding: 7px 15px;
    text-align: left;
}

#schedule td:first-child {
    text-align: right;
    border-right: 2px solid gray;
}