<div class="down-house s">
    <div class="downr w"></div>
    <div class="downl w"></div>
</div>

<div class="section-header s">
    <h1 class="section-title white">Welcome to Columbus, OH</h1>
</div>

<div class="rb">
    <div class="content">
        <p>Join us at OHI/O 2015 — Ohio State’s annual 24-hour hackathon at the Ohio Union. Starting 10am on Saturday
            November 14th and running through Sunday November 15th, over 300 undergraduate and graduate students will
            design, build, and demonstrate software to a live audience of students, faculty, and representatives from
            tech companies. Students will compete for over $5,000 in prizes, including Pebble smartwatches, Amazon
            Echos, and more. Projects will be judged in various categories that include technical difficulty,
            creativity, usefulness, and presentation.</p>

        <div style="text-align: center; margin: 15px;">
            <img style="max-width: 100%" src="assets/img/osu-ballroom.jpg"
                 alt="The Archie M. Griffin Grand Ballroom in the Ohio Union.">
        </div>

        <p style="margin-bottom: 25px">You'll be staying in the Archie M. Griffin Grand Ballroom in the Ohio Union. With
            over 17,000 square feet of space, it's one of the largest ballrooms in Central Ohio - and a campus favorite
            (and for all the right reasons). Known for its three beautiful chandeliers, lighting capabilities, and
            floor-to-ceiling windows, the ballroom is an ideal location for a night of hacking.</p>

        <div class="video">
            <iframe src="https://www.youtube.com/embed/KSEgYQRVuG8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>
